body {
    font-size: 17px;
    font-family: arial, serif;
    background: #f4f4f4;
    line-height: 1.5em;
}

.navbar ul li a {
    font-size: 20px;
}

h1 {
    line-height: normal;
    font-size: 33px;
}

p {
    font-size: 20px;
    text-align: justify;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 4px #000 solid;
    margin-bottom: 10px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.center {
    text-align: center;
}

#black_hat_viz_pic {
    max-width: 30%;
    margin-right: 50px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #fff;
    box-shadow:20px 20px 40px 5px #656565;
}

#white_hat_viz_pic_1 {
    max-width: 30%;
    margin-left: 50px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #fff;
    box-shadow:-20px 20px 40px 5px #656565;
}

#white_hat_viz_pic_2 {
    max-width: 25%;
    margin-right: 50px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #fff;
    box-shadow:20px 20px 40px 5px #656565;
}

#white_hat_viz_pic_3 {
    max-width: 30%;
    margin-left: 50px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #fff;
    box-shadow:-20px 20px 40px 5px #656565;
}

#white_hat_viz_pic_4 {
    max-width: 25%;
    margin-right: 50px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #fff;
    box-shadow:20px 20px 40px 5px #656565;
}

.clear {
    clear: both;
}
